/* src/styles/UpdateGame.css */

.update-game {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    max-width: 700px;
    margin: 10px auto;
}

.update-game-title {
    font-size: 1rem; 
    margin-bottom: 15px;
}

.update-game-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 10px; 
}

.form-label {
    margin-bottom: 5px;
    font-size: 0.75rem; 
}

.form-input {
    padding: 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.4rem; 
}

.button {
    padding: 8px;
    background-color: #a020f0;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5rem; 
}

.button:hover {
    background-color: #800080;
}
